* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 2s ease;
  transition: 2s ease;
}

html {
  font-size: 15px;
}

.heading {
  text-transform: uppercase;
  margin: 30px;
  text-align: center;
}

@media screen and (max-width: 760px) {
  .heading {
    background: red;
  }
}

.card-holder {
  overflow: hidden;
}

.card-holder .card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card-holder .card-wrapper .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  max-width: 235px;
  min-width: 235px;
  background: #46353541;
  margin: 0 10px;
}

@media screen and (max-width: 640px) {
  .card-holder .card-wrapper .card {
    max-width: 210px;
    margin: 0 4px;
    min-width: 210px;
  }
}

@media screen and (max-width: 480px) {
  .card-holder .card-wrapper .card {
    max-width: 100%;
    min-width: 100%;
    margin: 2px;
    padding: 0 10px;
  }
}

.card-holder .card-wrapper .card .background-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 65%);
          clip-path: polygon(0 0, 100% 0, 100% 50%, 0 65%);
}

.card-holder .card-wrapper .card .profile-img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 4px solid #fff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: -180px;
  border-radius: 50%;
  z-index: 1;
}

@media screen and (max-width: 480px) {
  .card-holder .card-wrapper .card .profile-img {
    margin-top: -350px;
  }
}

.card-holder .card-wrapper .card .profile-name {
  margin: 10px 0;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .card-holder .card-wrapper .card .profile-name {
    margin: 30px 0;
  }
}

.card-holder .card-wrapper .card .proffesional {
  color: #7432329c;
  font-size: 23px;
  margin-left: 5px;
}

@media screen and (max-width: 480px) {
  .card-holder .card-wrapper .card .proffesional {
    font-size: 20px;
    margin-left: 20px;
  }
}

.card-holder .card-wrapper .card .description {
  font-style: italic;
  margin: 0 10px;
  text-align: justify;
}

@media screen and (max-width: 480px) {
  .card-holder .card-wrapper .card .description {
    margin: 25px  30px 0 20px;
    font-size: 16px;
  }
}

.card-holder .card-wrapper .card .btn {
  padding: 3px;
  font-size: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 20px 0;
  border-radius: 20%;
  -webkit-box-shadow: 2px 2px 7px;
          box-shadow: 2px 2px 7px;
}

.arrow {
  position: absolute;
  width: 40px;
  background: #140101b6;
  top: 52%;
  padding: 10px;
  border-radius: 50%;
  z-index: 20;
  cursor: pointer;
  display: none;
}

.arrow:hover {
  background: #1f6dbb;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}
/*# sourceMappingURL=index2.css.map */